pre.rouge.highlight {
  background: #f9f9f9;
  border: 1px solid #dddddd;
  display: block;
  padding: 10px;
  margin: 0 0 10px;
}

pre.rouge.highlight > code {
  background-color: inherit;
  border: none;
  padding: 0;
}

ul > li code.rouge {
  font-size: smaller;
}

.ulist.checklist.answers > ul {
  margin-left: 0.5rem;
  list-style: none;
}

.ulist.checklist.answers > ul li {
  list-style-image: none;
}

ul li > [type=checkbox] {
  margin: 0 0 .25rem 0;
}

details, .audioblock, .imageblock, .literalblock, .listingblock, .stemblock, .videoblock {
  margin-bottom: 1.25em
}

/* hide the +/- symbol to expand the menu because there's no subsection */
.single-course .accordion-dev-nav:after {
  display: none;
}

i[data-type="progress-indicator"] {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  width: 1.25em;
  text-align: center;
}

i[data-type="progress-indicator"].passed::before {
  content: "\f00c";
  color: #63b345;
}

i[data-type="progress-indicator"].untried::before {
  content: "\f096";
  color: #676473;
}

i[data-type="progress-indicator"].failed::before {
  content: "\f00d";
  color: #F44336;
}

i[data-type="progress-indicator"].none::before {
  content: "";
}

