<!DOCTYPE html>
<!--[if IE 9]>
<html class="no-js ie9" lang="en">
<![endif]-->
<html class=" js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths" lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="https://neo4j.com/wp-content/themes/neo4jweb/favicon.ico">
  <title>Neo4j Online Course: <%= attr 'doctitle' %></title>
  <meta name="robots" content="max-snippet:-1, max-image-preview:large, max-video-preview:-1">
  <script type="text/javascript" src="https://neo4j.com/wp-content/themes/neo4jweb/assets/js/vendor/jquery-3.4.1.min.js?ver=3.4.1"></script>
  <script src="https://cdn.neo4jlabs.com/neo4j-com-developer/js/developer.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
  <link type="text/css" media="all" href="https://neo4j.com/wp-content/cache/autoptimize/css/autoptimize_8b645ea33332b44fe3514427d020158e.css" rel="stylesheet">
  <link type="text/css" media="screen" href="https://neo4j.com/wp-content/cache/autoptimize/css/autoptimize_8e2ce35f626d99ef0c1f31bab925048d.css" rel="stylesheet">
  <link type="text/css" media="print" href="https://neo4j.com/wp-content/cache/autoptimize/css/autoptimize_44985399d871a425a8166209e7c146d8.css" rel="stylesheet">
  <link rel="stylesheet" id="dashicons-css" href="https://neo4j.com/wp-includes/css/dashicons.min.css?ver=5.3.2" type="text/css" media="all">
  <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" rel="stylesheet">
  <%=  File.new("#{__dir__ }/stylesheet_override_partial.erb").read %>
  <script>
    $(document).ready(function () {
      $('.popup-link').magnificPopup({delegate: 'a', type: 'image'});
    });
  </script>
</head>
<body class="developer-template-default single single-developer postid-80953 mega-menu-menu-1 mega-menu-menu-2" data-aos-easing="ease" data-aos-duration="400" data-aos-delay="0">
<%=  File.new("#{__dir__ }/top_bar_partial.erb").read %>

<!--MARQUEE-->
<div class="marquee-neo"></div>
