<header role="banner" data-swiftype-index="false" class="global-header developer-header">
  <div class="container">
    <div class="row">
      <div class="column" style="position: relative;">
        <a class="skip-link" id="nav-position" href="#content">Skip to content</a>
      </div>
    </div>
  </div>
  <div class="top-bar-container row column">
    <div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="large" data-i="3m4e9b-i" style="display: none;">
      <div class="title-bar-title">
        <a href="https://neo4j.com"><img class="menu-logo__img" src="https://neo4j.com/wp-content/themes/neo4jweb/assets/images/neo4j-logo-textreverse.png" alt="The Neo4j Graph Platform – The #1 Platform for Connected Data"></a>
      </div>
      <button class="menu-icon" type="button" data-toggle="responsive-menu"></button>
    </div>
    <nav class="top-bar primary-nav" role="navigation" id="responsive-menu">
      <h2 class="show-for-sr">Main Navigation</h2>
      <div class="top-bar-left">
        <ul class="menu show-for-large">
          <li class="menu-logo">
            <a href="https://neo4j.com"><img class="menu-logo__img" src="https://neo4j.com/wp-content/themes/neo4jweb/assets/images/neo4j-logo-textreverse.png" alt="The Neo4j Graph Platform – The #1 Platform for Connected Data"></a>
          </li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu vertical large-horizontal megamenu-wrapper dropdown" data-responsive-menu="drilldown large-dropdown" data-auto-height="true" data-parent-link="false" role="menubar" data-i="zr65ah-i" data-mutate="9zbeoz-responsive-menu" data-t="3lzkqe-t">
          <!-- new top level menu -->
          <li class="has-submenu" role="menuitem">
            <a href="https://community.neo4j.com/">Neo4j Community Site</a>
          </li>
          <li class="has-submenu" role="menuitem">
            <a href="/docs/">Neo4j Manuals</a>
          </li>
          <li class="has-submenu" role="menuitem">
            <a href="https://medium.com/neo4j">Developer Blog</a>
          </li>
          <li class="has-submenu" role="menuitem">
            <a href="https://www.youtube.com/neo4j/">Neo4j Videos</a>
          </li>
          <li class="has-submenu" role="menuitem">
            <a href="/graphacademy/">GraphAcademy</a>
          </li>
          <li class="has-submenu" role="menuitem">
            <a href="/labs/">Neo4j Labs</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
