<%=  File.new("#{__dir__ }/footer_partial.erb").read %>

<a class="exit-off-canvas"></a>

<script type="text/javascript" src="https://neo4j.com/wp-includes/js/hoverIntent.min.js?ver=1.8.1"></script>
<script type="text/javascript">
  var megamenu = {"timeout": "300", "interval": "100"};
</script>
<script type="text/javascript" src="https://neo4j.com/wp-content/plugins/megamenu/js/maxmegamenu.js?ver=2.7.3"></script>
<script type="text/javascript">
  var neo_sts_params = {"engineKey": "wv4pczb-fro-K3xZczof"};
</script>
<script type="text/javascript" src="https://neo4j.com/wp-content/themes/neo4jweb/assets/js/dist.min.js?ver=20200117-1026"></script>
<script type="text/javascript" src="https://neo4j.com/wp-content/themes/neo4jweb/assets/js/neo_cookies.js?ver=20190607-1429" data-cookieconsent="marketing"></script>
<script type="text/javascript" src="https://neo4j.com/wp-content/themes/neo4jweb/assets/js/dist/components/links-tracking.es6.js?ver=1581654130"></script>
<script type="text/javascript" src="https://neo4j.com/wp-content/themes/neo4jweb/bower_components/aos/dist/aos.js?ver=20191218"></script>
<script type="text/javascript" src="https://neo4j.com/wp-content/plugins/megamenu-pro/assets/public.js?ver=1.9.4"></script>
<script type="text/javascript" src="https://neo4j.com/wp-includes/js/wp-embed.min.js?ver=5.3.2"></script>
</body>
</html>
