<section class="stay-connected bg-light lg">
  <div class="row">
    <div class="medium-10 small-centered columns text-center">
      <h3>Stay Connected</h3>
      <p>Sign up to find out more about Neo4j's upcoming events &amp; meetups.</p>
    </div>
  </div>
  <div class="row">
    <div class="medium-6 small-centered columns">
      <div class="row collapse">
        <div class="small-7 columns">
          <script src="https://app-ab10.marketo.com/js/forms2/js/forms2.min.js"></script>
          <form id="mktoForm_519" novalidate="novalidate" class="mktoForm mktoHasWidth mktoLayoutLeft"></form>
          <script>MktoForms2.loadForm("//app-ab10.marketo.com", "710-RRC-335", 519);</script>
        </div>
        <div class="small-5 columns">
          <a href="#" id="signupbody" class="button postfix">Sign Me Up ›</a>
        </div>
      </div>
    </div>
  </div>
</section>
<style>
  #mktoForm_519 button {
    display: none;
  }

  .postfix.button {
    line-height: 2.3125rem;
  }
</style>
<script>
  var btn = document.getElementById("signupbody");
  btn.onclick = function () {
    MktoForms2.getForm(519).submit();
  };
</script>
<footer id="footer">
  <div class="footer-widgets">
    <div class="row-1 row">
      <div class="small-12 medium-8 columns footer-menus">
        <div class="footer-menu-widget small-6 medium-3 columns">
          <div class="menu-footer-menus-new-1-container">
            <ul id="menu-footer-menus-new-1" class="menu">
              <li id="menu-item-51837" class="extra-margin menu-item menu-item-type-custom menu-item-object-custom menu-item-51837">
                <a href="https://neo4j.com/product/?ref=footer">PRODUCTS</a></li>
              <li id="menu-item-51838" class="extra-margin menu-item menu-item-type-custom menu-item-object-custom menu-item-51838">
                <a href="https://neo4j.com/use-cases/?ref=footer">SOLUTIONS</a></li>
              <li id="menu-item-51839" class="extra-margin menu-item menu-item-type-custom menu-item-object-custom menu-item-51839">
                <a href="https://neo4j.com/partners/?ref=footer">PARTNERS</a></li>
            </ul>
          </div>
        </div>
        <div class="footer-menu-widget small-6 medium-3 columns">
          <div class="menu-footer-menus-new-2-container">
            <ul id="menu-footer-menus-new-2" class="menu">
              <li id="menu-item-51840" class="extra-margin menu-item menu-item-type-custom menu-item-object-custom menu-item-51840">
                <a href="https://neo4j.com/customers/?ref=footer">CUSTOMERS</a></li>
              <li id="menu-item-51841" class="extra-margin menu-item menu-item-type-custom menu-item-object-custom menu-item-51841">
                <a href="https://neo4j.com/graphacademy/?ref=footer">LEARN</a></li>
              <li id="menu-item-51842" class="extra-margin menu-item menu-item-type-custom menu-item-object-custom menu-item-51842">
                <a href="https://neo4j.com/developer/get-started/?ref=footer">DEVELOPERS</a></li>
            </ul>
          </div>
        </div>
        <div class="footer-menu-widget small-6 medium-3 columns">
          <div class="menu-footer-menus-new-3-container">
            <ul id="menu-footer-menus-new-3" class="menu">
              <li id="menu-item-81680" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-81680">
                <a href="https://neo4j.com/why-graph-databases/?ref=footer">Why Graph Databases?</a></li>
              <li id="menu-item-51844" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-51844">
                <a href="https://neo4j.com/developer/graph-db-vs-rdbms/?ref=footer">Graph Databases vs RDBMS</a></li>
              <li id="menu-item-81682" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-81682">
                <a href="https://neo4j.com/whats-new-in-neo4j/?ref=footer">What’s New in Neo4j</a></li>
              <li id="menu-item-92665" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-92665">
                <a href="https://graphdatabases.com">Graphdatabases.com</a></li>
            </ul>
          </div>
        </div>
        <div class="footer-menu-widget small-6 medium-3 columns">
          <div class="menu-footer-menus-new-4-container">
            <ul id="menu-footer-menus-new-4" class="menu">
              <li id="menu-item-81681" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-81681">
                <a href="https://neo4j.com/company/?ref=footer">Company</a></li>
              <li id="menu-item-51846" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-51846">
                <a href="https://neo4j.com/newsroom/?ref=footer">News</a></li>
              <li id="menu-item-51847" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-51847">
                <a href="https://neo4j.com/awards/?ref=footer">Awards</a></li>
              <li id="menu-item-51848" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-51848">
                <a href="https://neo4j.com/careers/?ref=footer">Careers</a></li>
              <li id="menu-item-51849" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-51849">
                <a href="https://neo4j.com/staff/?ref=footer">Staff</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="small-12 medium-4 columns">
        <div>
          <div class="textwidget">
            <div class="social-icons">
              <a href="https://www.linkedin.com/company/neo4j" title="Neo4j on LinkedIn" target="_blank" rel="noopener noreferrer"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-linkedin fa-stack-1x fa-inverse"></i></span></a>
              <a href="https://twitter.com/neo4j" title="Neo4j on Twitter" target="_blank" rel="noopener noreferrer"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-twitter fa-stack-1x fa-inverse"></i></span></a>
              <a href="https://youtube.com/neo4j" title="Neo4j on YouTube" target="_blank" rel="noopener noreferrer"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa  fa-youtube-play fa-stack-1x fa-inverse"></i></span></a>
              <a href="https://www.facebook.com/neo4j.graph.database" title="Neo4j on Facebook" target="_blank" rel="noopener noreferrer"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa  fa-facebook fa-stack-1x fa-inverse"></i></span></a>
              <a href="https://community.neo4j.com" title="Neo4j Community Forum" target="_blank" rel="noopener noreferrer"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa  fa-comments fa-stack-1x fa-inverse"></i></span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row-2 row">
      <div class="small-12 medium-4 columns">
        <div class="textwidget">
          <div class="copyright">
            <div class="logo-footer"></div>
            <p>© <span id="footer-copyright-year">2020</span> Neo4j, Inc.<br>
              <a href="https://neo4j.com/terms/">Terms</a> | <a href="https://neo4j.com/privacy-policy/">Privacy </a> | <a href="https://neo4j.com/sitemap/">Sitemap</a>
            </p>
            <p>Neo4j<sup>®</sup>, Neo Technology<sup>®</sup>, Cypher<sup>®</sup>, Neo4j<sup>®</sup> Bloom<sup>™</sup>
              and Neo4j<sup>®</sup> Aura<sup>™</sup> are registered trademarks<br>
              of Neo4j, Inc. All other marks are owned by their respective companies.</p>
          </div>
        </div>
      </div>
      <div class="small-12 medium-4 columns">
        <div class="textwidget"><h5><a href="https://neo4j.com/contact-us?ref=footer">Contact Us →</a></h5>
          <p>US: 1-855-636-4532<br>
            Sweden +46 171 480 113<br>
            UK: +44 20 3868 3223<br>
            France: +33 (0) 8 05 08 03 44<br>
            Germany: +49 (0)89 26204 6300</p></div>
      </div>
    </div>
  </div>

  <div class="contact-bar">
    <div class="row">
      <div class="columns text-center">
        <a href="tel:1.855.636.4532" class="button" style="margin-top:0px"><span style="color:#30333a;">Contact Sales:</span>
          1.855.636.4532</a>
        <a href="https://neo4j.com/contact-us/" class="button" style="margin-top:0px">Email a graph expert</a>
      </div>
    </div>
  </div>
</footer>
